<ul class="nav justify-content-center" style="background-color:black;">
    <li class="nav-item">
      <a class="nav-link" routerLink=""><h3 style="color: orange;">Estudiantes</h3></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="listar-cursos"><h3 style="color: orange;">Cursos</h3></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="listar-examenes"><h3 style="color: orange;">Examenes</h3></a>
    </li>
</ul>
<router-outlet></router-outlet>